<%- include("header") -%>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>
    <div class="box">

        <% newListItems.forEach(function(element){  %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%= element._id %>" onChange="this.form.submit()">
                    <p>
                        <%= element.name %>
                    </p>
                </div>
                <input type="hidden" name="listDelete" value="<%= listTitle %>" onChange="this.form.submit()"></input>
            </form>
            <% }) %>

                <form class="item checked" action="/" method="post">
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="list" value="<%=listTitle %>"> + </button>
                </form>
      
    </div>
    

    <script src="" async defer></script>

    <%- include("footer") -%>
